<style>
  table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

  td {
    padding: 10px 0;
  }
</style>
<section>
  <h2>Rest Api Output</h2>
  <table align="center">
    <thead>
      <tr>        
        <th>Field</th>
        <th>FleetAverage</th>
        <th>Yield</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of _data.fieldList">
        <td>{{field.fieldName}}</td>
        <td>{{field.fleetAverage}}</td>
        <td>{{field.yield}}</td>
      </tr>
    </tbody>
  </table>
</section>
